#input-fields input {
  width: 434px;
  height: 40px;
  top: 100px;
  left: 729px;
  gap: 12px;
  border-radius: 12px;
  padding-top: 16px;
  padding-right: 17px;
  padding-bottom: 16px;
  padding-left: 17px;
  margin-bottom: 10px;
  border-width: 1px;
  border: 1px solid #413f4d;
  background: #262529;
  /* background-image: url('https://png.pngtree.com/png-clipart/20191120/original/pngtree-circle-password-icon-vectors-png-image_5053796.jpg'); */
}

#input-fields label {
  font-family: Gilroy;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: bottom;
}
